<header>
  <section class="branding">
    <h1>Hola Mundo</h1>
  </section>
  <nav>
    <ul>
      <li><a href="index.html">INICIO</a></li>
      <li><a href="about.html">Acerca</a></li>
      <li><a href="contact.html">Contacta</a></li>
      <li><a href="catologo">Catalogo</a></li>
    </ul>
  </nav>
</header>